.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: greenyellow;
}

.buttonList {
  list-style: none;
  display: flex;
}
